<!-- <div id="footer">
© 2019 Neal Sutaria Product --> <!-- - <a href="TermsofUse.html">Terms of Use</a> -->
<!-- </div> -->

<div class="footer"> © 2025 MHBright  <div class = "terms"> <span class = "termspadding"> <%= link_to "Terms", terms_path %> </span>
<span class = "privacy"> <%= link_to "Privacy", privacy_path %> </span>
<span class = "websiteprivacy"> <%= link_to "Website Privacy", websiteprivacy_path %> </span> </div>
</div>
