<h1 class = "recordtitle">Editing Record</h1>

<%= render 'formedit', record: @record %>
<br>

<div class = "editspace"> <%= link_to 'Show Record Details', @record, class: "showbutton" %> |
<%= link_to 'All Records', records_path, class: "showbutton" %> </div>
<br>


<div> <%= link_to 'Search for record(s)', search_path, class: "showbutton" %> </div>
 <br>
 <br>

