<h1 class = "homepage"> Welcome to MHBright! </h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- insert <div class="card"> -->
        <div class="cardhome cardbackground">

  <div class="card-description-home">
    <h2>Create and save your health records</h2>
    <h2>Then, you can view and search for your health records</h2>
    <h2>You can now easily show doctors your health records</h2>
  </div>


</div>
    </div>

  </div>
</div>

<div class="landing-button">
    <%= link_to  "Let's go!", new_record_path, class: "btn btn-default" %>
  </div>
