 <h1 class = "homepage"> Welcome to MHBright! </h1>

<!-- <span class = "personal"> <h4 class = "youfont"> The Healthcare Website for you!</h4> -->
<span class = "personal"> <h4 class = "youfont makerecord"> <strong> Mhbright’s health forum will let you ask questions and get answers on topics such as acne, mental health, anxiety, weight loss, diet, sprains, hair, diseases, etc. from other people like you!
 </strong></h4>
<span class = "personal"> <h4 class = "youfont makerecord"> <strong> Upload your medical receipts and records! </strong></h4>
<p> <strong> We will never sell your personal data! </strong> </p> </span>
<!-- <p class = "personal testnote"> <strong> Note: </strong> This website is going through testing, so it is research in progress. Expect some downtime and malfunctions. </p>
 -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- insert <div class="card"> -->
        <div class="cardhome cardbackground">

  <div class="card-description-home">
    <h2 class = "cre movedown">Make an account in order to use the health forum to talk about topics such as acne, mental health, weight loss, diet, hair, diseases, etc.! </h2>
    <h2 class = "cre" >Create communities, make posts and comment on other peoples' posts all related to health!</h2>
    <h2 class = "vie">Upload medical receipts!</h2>
    <h2 class = "hie">Create, view and search for your health records and receipts!</h2>

  </div>


</div>
    </div>

  </div>
</div>
<br>
<div class = "landing-content">
<div class="landing-button signhome">
    <%= link_to  "Sign up",  new_user_registration_path, class: "btn btn-default" %>

  <span class="landing-button loginhome">
    <%= link_to  "Log in",  new_user_session_path, class: "btn btn-default" %>
  </span>
  </div>
</div>
