<p> Your Rights
When it comes to your health information, you have certain rights. This section explains your rights. </p>

<p>Get an electronic or paper copy of your medical record </p>

<p> If you have given someone medical power of attorney or if someone is your legal guardian, that person can exercise your rights and make choices about your health information. </p>


<p> Our Uses and Disclosures </p>


<p>How do we typically use or share your health information? </p>

<p> We typically use or share your health information in the following ways. </p>

<p> Run our organization </p>

<p> We use data as a whole, not personal data, and we share that data as well to run our practice, and improve your care, and an example of using data as a whole is that 1,000 people in Texas had the flu. </p>


<p> How else can we use or share your health information?</p>
<p>
We are allowed or required to share your information in other ways . usually in ways that contribute to the public good, such as public health and research. We have to meet many conditions in the law before we can share your information for these purposes. For more information see: www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/index.html. </p>
<p>
Help with public health and safety issues </p>

<p>
We can share health information about you for certain situations such as:
Preventing disease
Helping with product recalls
Reporting adverse reactions to medications
Reporting suspected abuse, neglect, or domestic violence
Preventing or reducing a serious threat to anyone's health or safety </p>

<p>
Do research </p>

<p> We can use or share your information for health research. </p>

<p> Comply with the law </p>

<p> We will share information about you if state or federal laws require it, including with the Department of Health and Human Services if it wants to see that we're complying with federal privacy law. </p>

<p> Respond to organ and tissue donation requests </p>

<p> We can share health information about you with organ procurement organizations. </p>

<p> Work with a medical examiner or funeral director </p>

<p> We can share health information with a coroner, medical examiner, or funeral director when an individual dies. </p>

<p> Address workers' compensation, law enforcement, and other government requests </p>


<p> We can use or share health information about you:
For workers' compensation claims
For law enforcement purposes or with a law enforcement official
With health oversight agencies for activities authorized by law
For special government functions such as military, national security, and presidential protective services </p>

<p> Respond to lawsuits and legal actions </p>

<p> We can share health information about you in response to a court or administrative order, or in response to a subpoena. </p>


<p> Our Responsibilities </p>


<p> We are required by law to maintain the privacy and security of your protected health information.
We will let you know promptly if a breach occurs that may have compromised the privacy or security of your information.
We must follow the duties and privacy practices described in this notice and give you a copy of it. </p>
