<p> Website Terms and Conditions </p>

 <p> These terms and conditions constitute a binding agreement between you and this website. </p>

<p> The website is an Internet service that allows users to:  access and make their health records; </p>

<p> The website is provided on behalf us. </p>

<p> By accessing or using the website, you confirm that you agree to these terms and conditions. If you don't agree, don't use the website. By agreeing to these terms and conditions, you acknowledge that you are at least 18 years of age, or legally emancipated, and that you are requesting access to using the website. You acknowledge that the website is offered as a courtesy to our users and agree that we may limit or discontinue your use of the website at any time for any reason. </p>

<p> Minimum Requirements and Security
This website uses encryption software. In order to use the website, you must have:
a personal computer equipped with an Internet browser that has 128-bit encryption enabled and configured to accept cookies (e.g., Internet Explorer 7 or 8, Safari, or Firefox; Internet Explorer 6 may not allow you to view some materials); </p>


<p>
While we use state-of-the-art security, no system can guard against risks of intentional intrusion or inadvertent disclosure of information. When using this website, information may be transmitted over media that are beyond the control of the makers and employees of the website and their contractors and subcontractors and that may not be secure. For example, you may receive email, text, or telephone communications in connection with your use of the website, all of which are inherently unsecure and subject to disclosure to or access by third parties (e.g., if your phone is used by someone else, you do not keep your phone or email information up to date on the website and communications are misdirected, or the network or systems of a telecommunications provider are hacked). Furthermore, electronic services such as those provided by the website, their contractors and subcontractors, and any telecommunications providers involved in the transmission of data are all inherently subject to failure and none of the foregoing can guarantee that their services will be provided without error or interruption at all times that you may wish to use those services. YOU HEREBY EXPRESSLY ASSUME THE RISK OF ANY UNAUTHORIZED DISCLOSURE OR INTENTIONAL INTRUSION, OR OF ANY DELAY, FAILURE, INTERRUPTION, OR CORRUPTION OF DATA OR OTHER INFORMATION TRANSMITTED IN CONNECTION WITH THE USE OF ANY SERVICE RELATED TO THIS WEBSITE . Once information is received by us, your medical information will be treated as confidential. </p>

<p> Security, Confidentiality, and Usage Guidelines for this website </p>

<p>This website is designed as a secure Internet-based environment through which you may receive confidential medical information about yourself. When you initially enroll to use the website, you will establish an email and a confidential password for login credentials. Please DO NOT SHARE YOUR PASSWORD with anyone. Anyone with access to your password will be able to view your medical information and communicate with your health care team as if that person were you. Thus, when you give someone your password, you are authorizing that person to access your account, and you are responsible for all transactions that person performs while using your service. It is your responsibility to prevent disclosure of your password and to change your password if you feel that your security has been compromised.  You can change your password in the website at any time. </p>

<p> You may request an account for yourself. You may not request or access an account for anyone else, except that a parent or guardian may request and access an account on behalf of a minor child. By accepting these terms and conditions, you certify that you are authorized to open or access the account you are requesting and that all information you have provided to us is true and correct to the best of your knowledge. </p>


<p>
We secure your personal information from unauthorized access, use or disclosure. The personally identifiable information you provide is maintained by us on computer servers in a controlled, secure environment, protected from unauthorized access, use or disclosure. When personal information is transmitted from your PC and/or mobile devices to the website, it is protected through the use of encryption, such as the Secure Socket Layer (SSL) protocol. As a user of the website, you hereby agree that you (and not the Practice Entities) are solely liable for viruses, worms, Trojan horses, cancel bots, and other electronic mechanisms designed to destroy or impair the functioning of computer systems already residing on your PC and/or mobile device.
When you use the website, we collect personally identifiable information, such as your email address, name, state and city you live in, age, access times, and account activity. This information is used by us for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the website. We may share data with business associates working on our behalf to help us perform statistical analysis. We encourage you to review the Privacy Statement for further information regarding how your personal information may be used.
Cookies are used for system performance functionality. You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the website. </p>

<p>
How We Protect Your Personal Health Information
We consider the privacy of your health information to be one of the most important elements in our relationship with you and one we take very seriously. By accessing or using the website, you acknowledge that you have read the  Privacy Practices. </p>

<p>
We are committed to protecting the privacy of the information you send and receive through the website, and will only collect and use such information as permitted under the website Privacy Statement, which can be found online within the website. By using the website, you also consent to all of the terms and conditions described in the Privacy Statement. </p>

<p>
Your Responsibilities
This website is a communication service offered as a convenience to our users. We reserve the right to change the terms, conditions, and notices under which this website is offered. By accessing or using the website, you further agree that any and all such modifications are effective and binding upon you immediately upon posting of the modified version. We reserve the right in the future to charge a fee for the use of the website. You will be notified in advance of any such change and asked to re-apply if you agree to the fee and wish to continue with the services that the website provides. </p>


<p>
You understand that the website provides you with online access to  clinical information about you, which you create. You are solely responsible for any sharing of your content that you intentionally or unintentionally communicate to others. </p>



<p>
Discontinuing Use of Patient Portal </p>

<p>
We reserve the right, in our sole discretion, to limit or discontinue your use of the website at any time and for any reason, including, but not limited to, your use of the website on behalf of another person. </p>


<p>
Your Clinical Information
Patient Portal is an Internet application that enables a patient to have secure web-based access to personal clinical information, as released by you. </p>



<!-- Copyright and Trademarks
All content included in the website and on all of our, including, but not limited to, text, photographs, graphics, button icons, images, artwork, names, logos, trademarks, service marks, and data ("Content"), in any form, are protected by U.S. and international copyright and trademark law and conventions. The Content includes both Content owned or controlled by one or more of the Practice Entities, as well as Content owned or controlled by third parties and licensed to one or more of the Practice Entities, and no right, title, or interest is granted to you in or to any Content other than the right to use such content in connection with your use of Patient Portal. Reproduction of any Content, in whole or in part, by any means, is prohibited without our express written consent. -->


<p>
Site Access and Licenses
We grant to you a non-assignable, non-sublicensable, terminable, limited license to make personal use of our website, and the associated services in accordance with these terms and conditions. This license expressly excludes, without limitation, any reproduction, duplication, sale, resale, or other commercial use of the website or any of the associated services; making any derivative of the website, or any of the associated services; and the collection and use of user email addresses or other user information (including, without limitation, health information or any data extraction or data mining whatsoever). </p>
 <p>
Failure to comply with any of the terms and conditions contained herein may result in cancellation of your account. We reserve the right to report violations of law to appropriate law enforcement agencies and to pursue all other rights and remedies available to it under civil or criminal law. </p>



<!-- Links to Third-Party Websites
This website contains links to websites operated by other parties. The Practice Entities do not sponsor, operate, control, or endorse any of these sites, nor the information, products, or services provided by third parties through the Internet, nor do the Practice Entities make any guarantee, warranty, or representation regarding the accuracy of the information contained on the websites. The Practice Entities have no control over the security or privacy practices of these external websites. Use of other sites is strictly at your own risk including, but not limited to, any risks associated with destructive viruses. You are responsible for viewing and abiding by the terms and conditions of use and the privacy statements of the other websites. -->


<p>
No Warranties
This website and all other sites hosted by any of the Practice Entities and the content contained herein and therein are provided by the Practice Entities on an "As Is" basis. THE PRACTICE ENTITIES MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF ITS SITES, OR THE CONTENT, PRODUCTS, OR SERVICES INCLUDED THEREIN. TO THE FULLEST EXTENT PERMISSIBLE BY APPLICABLE LAW, THE PRACTICE ENTITIES DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND INFRINGEMENT. </p>


<p>
Limitation of Liability
Some of the material on our website may be provided by third parties, and the website shall not be held responsible for any such third-party material. The website disclaim any responsibility for, or liability related to, such third-party material. Any questions, complaints, or claims related to any product should be directed to the appropriate third party. </p>

<p>
None of the people of the website or any of their contractors or subcontractors shall be liable for any loss, injury, illness, damages, or claims of any kind resulting from your failure to timely read messages you may receive through Patient Portal. </p>

<p>
Some or all of these limitations or exclusions may not apply to you if your state, province, or country does not allow the exclusion or limitation of incidental, consequential, or other damages. </p>


<p>
General
By using our website (including, but not limited to, its services), you agree that the laws of Texas, without regard to principles of conflict of laws, will govern these terms and conditions and any dispute that might arise between you and the website. You expressly agree that exclusive jurisdiction for any dispute with any of the website resides in the courts of Williamson County, Texas, and you further agree and expressly consent to the exercise of personal jurisdiction in the courts of Williamson County, Texas, in connection with any claim involving any of the Practice Entities. Use of our website is unauthorized in any jurisdiction that does not give effect to the terms and conditions set forth herein. </p>
