<h1 class = "recordtitle indextitle">Records last Thirty days</h1>

<div class = "days"> <%= link_to "All Records", records_path, class: "showbutton", remote: true %>
<%= link_to "Records Last Sixty days", sixty_days_records_path, class: "showbutton", remote: true %> </div>

<%= render 'thirty_days', records: @records %>


<div id = "current_customer">
</div>
