
<p> This policy is effective as of January 2019 </p>

<p> Scope and purpose of this policy
This privacy policy (the "Policy") describes the practices of the website with regard to information about you that we obtain through your use of the website. The website is an Internet service, which allows authorized users to make and access their health records
Additionally, this Policy does not apply to information collected by us offline or through any other means, including on any other website operated by us or any third party, including our affiliates and subsidiaries. </p>

<p> What information do we collect?
• Information you provide us:
 When you register for the website, we may ask you to provide the following information:
 User username, email, state, city, and birthday.
• Information we collect from your use of our services:
o We access cookie technologies on your computer to improve users' experience, including but not limited to: storing user session IDs and enabling "remember me" functionalities for simplified log-in procedures on trusted devices.
o We may automatically collect and store information in our server logs regarding your use of our services and the content you viewed. </p>
<p>
How do we use your information:
• We may use your information for the following purposes, including but not limited to:
o To inform you about relevant and important information about the website, updates to terms, conditions, and policies, and other relevant administrative changes and information relating to the website;
o To deliver relevant marketing information;
o For business purposes including but not limited to, developing and implementing new products and services, enhancing the functionality of the website, data analysis, audits, and to comply with all laws, regulations, and law enforcement requirements;
o To plan risk control measures, like fraud and abuse detection and prevention.
• We may de-identify and aggregate your data - meaning this data cannot be used to identify or contact you - for our business purposes, including but not limited to analyzing data trends, research, or offering new products and services.
• We track the number of visitors using certain portions and features of the website to make any necessary changes to improve the functionality of the website. </p>
 <p>
Sharing your information:
• We can disclose your health information to third party vendors in accordance with HIPAA requirements. For further details regarding these requirements, refer to the HIPAA Privacy Rule at 45 C.F.R. section 164.506.
• Unless otherwise provided in this Policy, we will not disclose your personal information except when:
o You have given us your consent to share or use information about you;
o We believe that we need to share information about you to provide a service that you have requested from us or from others;
o We are required by law to disclose information; or
o We believe it is necessary to protect our rights or to avoid liability or violations of the law.

</p>
<p>
Our data protection and security policy:
• We have implemented technical, administrative, and physical safeguards, which are designed to protect your information from unauthorized use and access. These safeguards are intended to ensure that our system is secure and that it meets our obligations under the HIPAA Security Standards Final Rule. Prudent security practices dictate that some of our procedures cannot be disclosed in detail. </p>
 <p>
Key Terms:
• COOKIES: Cookies are small amounts of text files that are sent from a website to your computer's browser when you visit the site. These cookies are then stored in files within your computer's browser. Web sites can access only the cookies that they have stored on your computer. For example, if the Acme Computer Company stores a cookie on your browser, Acme may access its own cookie to improve the user's online experience, but it could not access any cookies belonging to another company. For every future time you access the website, your browser sends the cookie back to the server, which notifies the website of the user's previous activities on the website. Thus, cookies serve several useful purposes, like letting you navigate between pages more efficiently, saving your preferences, and enhancing your user experience with the website.
• INTERNET PROTOCOL (IP) ADDRESS: An IP Address is a numerical label separated by periods that identifies every device (e.g., computer, printer) that participates in a network. IP addresses allow these devices to communicate with one another and transmit relevant information. </p>

