.card {
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-top: 20px;
}

.card-description h3 {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}

.links {
  font-size: 35px;
  padding-left: 10px;
  color: #eeeeef;
font-family: 'Playfair Display', serif;
}

.links:hover{
  opacity: .7;
  color: white;
}

.text-muted h3 {
  font-family: 'Playfair Display', serif;
}
.text-muted a{
  color: #eeeeef;
}
.text-muted a:hover {
  opacity: .7;
  color: red;

}




#new_record {
  padding-left: 10px;
  padding-right: 15px;
}

.edit_record {
  padding-left: 10px;
  padding-right: 15px;
}

.search {
  margin-top: -2px;
}

.logo-and-search{
  padding-left: 10px;
  padding-right: 15px;
}

.showform{
  padding-left: 29px;
  padding-right: 24px;
  padding-top: 20px;
}

.recordtitle{
  text-align: center;
}

.allbuttonmargin{
  margin-left: 10px;
}

.marginbottombutton{
  margin-bottom: 10px;
}

.bodynew{
  padding-bottom: 32px;
}


.edit_user{
  padding-left: 29px;
  padding-right: 24px;
}

.backedituserbutton{
  margin-top: 23px;
  padding-left: 29px;
}

.editsettings{
  text-align: center;
}

.unhappy{
  padding-left: 29px;
}

.editspace{
  margin-bottom: 10px;
}

.card-description{
  text-align: center;
}

.new_user{
  padding-left: 29px;
  padding-right: 24px;
}

.loginlinks{
  padding-left: 29px;
  padding-right: 24px;
}

.signuppadding{
  padding-bottom: 10px;
}
.card-footer{
  text-align: center;
}

.editfooter{
  border-bottom: 1px solid #ffecec;
  background-color: #42676d;
}

.deletefooter{
  background-color: #5b6792;
}


.movebuttons{
  margin-top: 35px;
}

.thumbnail{
    height: 56px;
    width: 71px;
}
