.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(3, 1, 1, 0.62);
  margin: 11px;
  width: 300px;
  text-align: center;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;

}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.row1{
  margin-left: 6px;
}



.commbut{
  margin-top: -104px;
}

.name{
margin-left: 12px;
}

.buttonpost{
  margin-top: 10px;
  margin-left: 10px;
}

.count{
font-style: italic;
font-size: medium;
}

.rules{
font-style: italic;
font-size: medium;
}

.newleft{
  margin-left: 18px;
}

.posttitle{
  font-size: 42px;
}


.card-trip1 {
  overflow: hidden;
  background: rgb(240, 230, 239);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 11px;
}

.commbutton{
  margin-top: 25px;
  margin-bottom: 10px;
}

.commleft{
  margin-left: 25px;
}

.commname{
  margin-top: 25px;
}

.commentbuttondown{
  margin-top: 10px;
}

.twobuttons{
margin-left: 10px;
margin-bottom: 15px;
}

.topcommbutton{
  margin-top: 10px;
}

.list-group{
  width: 300px;
}

.commleft2{
  margin-left: 10px;
}

.fontsmall{
  font-size: 12px;
  padding-top: 10px;
}

.cards1{
  border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: white;
    border-radius: 0.3rem;
    width: 300px;
    margin-bottom: 10px;
}

.commbuttonwidth{
  width: 370px;
  font-size: 15px;
}

.movecardleft{
  padding-left: 10px;
}

.movedown{
  margin-bottom: -5px;
  font-size: 17px !important;

}




.commcolor{
  color: #6d8a8a;
}

.summaryfont{
  font-size: 15px;
}

.horizontal{
  width: 100%;
  margin: -4px auto;
  display: flex;
  justify-content: center;
}

.horiz{
  width: 30px;
  padding-top: 5px;
}


.horiz2{
  width: 23px;
  padding-top: 2px;
}


.horiz3{
  padding-top: 6px;
}

.poppadding{
  margin-top: 10px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  margin-left: 10px;
  margin-right: 10px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 17px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}




.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.cards3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards3 {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards3 {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards3 {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.card-category3 {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left:10px;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

.boldtext{
  font-weight: bolder !important;
}


.bannertextleft{
  text-align:center;
}

// .changetextsize{
//   font-size: 17px !important;
// }
