<div class="row1">
    <div class="col">
        <p class="h5  mb-3 mt-4">Popular Posts</p>
    </div>
</div>
<div class="row1">
    <div class="col-8">
            <%= render partial: "posts/list", locals: { posts: @posts }  %>
    </div>
    <div class="col-4">
    <p class="h5" mb-4>Up and coming Communities</p>

        <div class="cards">
            <ul class="list-group list-group-flush">
                <% @communities.each do |community| %>
                <li class="list-group-item"><%= link_to community.name, community_path(community) %></li>
                <% end %>
            </ul>
        </div>
        <div><%= link_to "View all Communities", communities_path, class: "btn btn-primary mt-4"%> </div>
    </div>
</div>

